@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-power-datepicker";

@import "datepicker";
@import "task";

$body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-size: 10pt;

$body-background-color: #23A08D;
$list-background-color: #E3E3E3;

$top-bar-height: 3em;
$list-width: 22em;
$gap: 0.5em;
$list-header-height: 3em;
$list-footer-height: 1em;
$list-border-radius: 5px;
$scrollbar-thickness: 17px;
$task-card-border-radius: 3px;

body {
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: 1.3em;
  margin: 0;
}

.page-wrapper {
  background-color: $body-background-color;
  color: #EEE;
  display: grid;
  grid-template-rows: $top-bar-height 1fr;
  height: 100vh;
}

.top-nav {
  align-items: center;
  display: flex;
  padding-left: $gap;

  > * {
    margin-right: 0.25em;
  }
}

.lists {
  display: flex;
  overflow-x: auto;
  > * {
    flex: 0 0 auto;
    margin-left: $gap;
  }
  &::after {
    content: '';
    flex: 0 0 $gap;
  }
}

.task-list {
  height: calc(100% - (4 * #{$gap}) - #{$scrollbar-thickness});
  width: $list-width;

  > * {
    background-color: $list-background-color;
    color: #333;
    padding: 0 $gap;
  }

  &.active-drop-target {
    box-shadow: 0px 0px 15px #333;
  }

  &.current > * {
    background-color: #B2DFDA;
  }

  &.past {
    li:not(.done) {
      color: #BF4A40;
      font-weight: bold;
    }

    &.has-unfinished-tasks {
      h1, h2 {
        color: #BF4A40;
      }
    }

    &:not(.has-unfinished-tasks) {
      opacity: 0.75;
    }
  }

  header {
    line-height: $list-header-height;
    font-weight: bold;
    border-top-left-radius: $list-border-radius;
    border-top-right-radius: $list-border-radius;

    h1, h2 {
      text-align: center;
      margin: 0;
    }
  }

  footer {
    line-height: $list-footer-height;
    border-bottom-left-radius: $list-border-radius;
    border-bottom-right-radius: $list-border-radius;
  }

  ul {
    list-style: none;
    margin: 0;

    max-height: calc(100% - #{$list-header-height} - #{$list-footer-height});
    overflow-y: auto;

    li {
      background-color: #FFF;
      border-radius: $task-card-border-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      padding: $gap;

      &:not(:last-child) {
        margin-bottom: $gap;
      }
    }
  }
}

/*

.days, .recurring-task-days {
  height: calc(100vh - 3.5em);
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
}

.days {
  margin-top: 0.5em;
}

.recurring-task-days {
  .task-list ul li div {
    width: 100%;
  }
}
*/

.done {
  color: #666;
  opacity: 0.7;
}

textarea, input[type=text] {
  background: none;
  border: 0;
  font-family: $body-font;
  font-size: $body-font-size;
  height: 100%;
  outline: 0;
  overflow: hidden;
  resize: vertical;
  width: 100%;
}


i.fa {
  color: black;
  font-size: 2em;
}

.new-task {
  width: 100%;

  textarea, input[type=text] {
    background-color: white;
  }
}

.new-task-dialog {
  background-color: lightgray;

  padding: 0 2em 1em 2em;
}
